
    <%- include('partials/header')%>
    <%- include('partials/navigation')%>

    <!-- FIRST SECTION -->
    <%- include('sections/firstsection')%>
    <!-- SECOND SECTION -->
    <%- include('sections/secondsection')%>
    <!-- THIRD SECTION -->
    <%- include('sections/thirdsection')%>


<!-- <h1><%= content %> PAGE</h1> -->
    <%- include('partials/footer')%>